.calc {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.calc .play {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.calc .play:after {

}

.select2-search__field { width: 100% !important; }

.type_account_active {
    background: #7c868e;
    color: white;
}

.hidden-site {
    color: #bfc1c5;
}

.balance-label {
    color: rgb(25 25 25 / 61%);
}

